* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/INSTALL -text
/LICENCE -text
/Makefile.in -text
/NEWS -text
/NON-UNIX-USE -text
/README -text
/RunTest.in -text
/config.guess -text
/config.in -text
/config.sub -text
/configure -text
/configure.in -text
/dftables.c -text
/dll.mk -text
doc/Tech.Notes -text
doc/pcre.3 -text
doc/pcre.html -text
doc/pcre.txt -text
doc/pcregrep.1 -text
doc/pcregrep.html -text
doc/pcregrep.txt -text
doc/pcreposix.3 -text
doc/pcreposix.html -text
doc/pcreposix.txt -text
doc/pcretest.txt -text
doc/perltest.txt -text
/get.c -text
/install-sh -text
/internal.h -text
/ltconfig -text
/ltmain.sh -text
/maketables.c -text
/pcre-config.in -text
/pcre.c -text
/pcre.def -text
/pcre.in -text
/pcregrep.c -text
/pcreposix.c -text
/pcreposix.h -text
/pcretest.c -text
/perltest -text
/perltest8 -text
/study.c -text
testdata/testinput1 -text
testdata/testinput2 -text
testdata/testinput3 -text
testdata/testinput4 -text
testdata/testinput5 -text
testdata/testinput6 -text
testdata/testoutput1 -text
testdata/testoutput2 -text
testdata/testoutput3 -text
testdata/testoutput4 -text
testdata/testoutput5 -text
testdata/testoutput6 -text
