* text=auto !eol
/ChangeLog -text
/LICENCE -text
/Makefile -text
/README -text
/RunTest -text
/Tech.Notes -text
/dftables.c -text
/dll.mk -text
/get.c -text
/internal.h -text
/maketables.c -text
/pcre.3 -text
/pcre.3.html -text
/pcre.3.txt -text
/pcre.c -text
/pcre.def -text
/pcre.h -text
/pcreposix.3 -text
/pcreposix.3.html -text
/pcreposix.3.txt -text
/pcreposix.c -text
/pcreposix.h -text
/pcretest.c -text
/perltest -text
/pgrep.1 -text
/pgrep.1.html -text
/pgrep.1.txt -text
/pgrep.c -text
/study.c -text
/testinput1 -text
/testinput2 -text
/testinput3 -text
/testinput4 -text
/testoutput1 -text
/testoutput2 -text
/testoutput3 -text
/testoutput4 -text
