/.deps
/.libs
/Makefile
/MyConfigure
/MyMakeRelease
/Releases
/RunGrepTest
/RunTest
/aclocal.m4
/autom4te.cache
/config.h
/config.h.generic
/config.h.in
/config.log
/config.status
/depcomp
/dftables
/libpcre.pc
/libpcrecpp.pc
/libtool
maint/PushRelease
maint/RunPerlTest
maint/ToDo
maint/ucptest
maint/utf8
/missing
/pcre-config
/pcre.h
/pcre.h.generic
/pcre_chartables.c
/pcre_scanner_unittest
/pcre_stringpiece.h
/pcre_stringpiece_unittest
/pcrecpp_unittest
/pcrecpparg.h
/pcredemo
/pcregrep
/pcretest
/stamp-h1
/testsavedregex
/teststderr
/testtry
