/.deps
/.libs
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/config.guess
/config.h
/config.h.generic
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/dftables
/install-sh
/libpcre.pc
/libpcrecpp.pc
/libtool
/ltmain.sh
maint/ucptest
maint/utf8
/missing
/pcre-config
/pcre.h
/pcre.h.generic
/pcre_chartables.c
/pcre_scanner_unittest
/pcre_stringpiece.h
/pcre_stringpiece_unittest
/pcrecpp_unittest
/pcrecpparg.h
/pcredemo
/pcregrep
/pcretest
/stamp-h1
/testsavedregex
/teststderr
/teststdout
/testtry
