* text=auto !eol
/ChangeLog -text
/Makefile -text
/README -text
/RunTest -text
/Tech.Notes -text
/deftables.c -text
/internal.h -text
/maketables.c -text
/pcre.3 -text
/pcre.c -text
/pcre.h -text
/pcreposix.3 -text
/pcreposix.c -text
/pcreposix.h -text
/pcretest.c -text
/perltest -text
/pgrep.1 -text
/pgrep.c -text
/study.c -text
/testinput -text
/testinput2 -text
/testinput3 -text
/testinput4 -text
/testoutput -text
/testoutput2 -text
/testoutput3 -text
/testoutput4 -text
