/.deps
/.libs
/CMakeCache.txt
/CMakeFiles
/DartTestfile.txt
/INSTALL
/Makefile
/Makefile.in
/Testing
/aclocal.m4
/autom4te.cache
/cmake_install.cmake
/config.guess
/config.h
/config.h.generic
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/dftables
/install-sh
/libpcre.pc
/libpcre.so
/libpcrecpp.pc
/libpcrecpp.so
/libpcreposix.so
/libtool
/ltmain.sh
maint/ucptest
maint/utf8
/missing
/pcre-config
/pcre.h
/pcre.h.generic
/pcre_chartables.c
/pcre_scanner_unittest
/pcre_stringpiece.h
/pcre_stringpiece_unittest
/pcrecpp_unittest
/pcrecpparg.h
/pcredemo
/pcregrep
/pcretest
/progress.make
/stamp-h1
/test3input
/test3output
/testsavedregex
/teststderr
/teststdout
/testtry
